@font-face {
    font-family: MgAgia;
    src: url("17405.otf");
}

* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
    background-image: url("../media/images/41203560.jpg");
    background-size: 100%;
}

.wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
}

.wrapper-content {
    flex: 1 0 auto;
}

.navbar-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 20;
}

.navbar-default {
    border-color: black;
    border-bottom-width: 2px;
    background-color: rgba(79, 59, 48, 1);
}

.navbar {
    height: 75px;
}

.navbar-collapse {
    overflow-x: hidden;
}

#navbar {
    background-color: rgba(79, 59, 48, 1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: black;
}

.navbar-default .navbar-nav>li>a {
    color: black;
    font-size: 38px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: left;
    padding-top: 27px;
    /*padding-bottom: 13px;*/
}

.navbar-default .navbar-nav>li>a:hover {
    color: #ecffe4;
}

/*-----------------Mobile menu-button-----------------*/

.navbar-default .navbar-toggle {
    background-color: transparent;
    border-color: #000000;
    border-width: medium;
    margin-top: 17px;
    margin-right: 5px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: black;
}

.navbar-default .navbar-toggle:hover {
    background-color: #000000;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: white;
}

/*-----------------Mobile menu-button-----------------*/

.navbar-default .navbar-brand {
    /*color: black;*/
    /*font-size: 45px;*/
    /*font-family: MgAgia;*/
    /*padding-top: 15px;*/
}

.navbar-default .navbar-brand img {
    height: 245%;
}

.navbar-default .navbar-brand:hover {
    color: black;
}

.main {
    margin: 50px auto 0;
}

.anons {
    margin: auto;
    margin-top: 10%;
    padding: 25px 25px 1px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50px;
    max-width: 400px;
    min-height: 430px;
}

.anons:hover {
    background: #ecffe4;
    transition: all 1s;
}

.anons a {
    text-decoration: none;
    color: black;
}

.anons p {
    font-weight: bold;
}

.anons .responsive {
    height: auto;
    width: 100%;
    max-width: 330px;
}

.anons img {
    box-shadow: 1px 1px 5px #777;
    filter: sepia(1);
}

.anons:hover img {
    transform: scale(1.15) rotate(3deg);
    transition: transform 2s;
    filter: sepia(0);
}

.about-section1 {
    margin: 100px auto 30px;
    max-width: 800px;
}

.about1 {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 50px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 10px 5px;
}

.about-section1 h1 {
    font-size: 50px;
    margin-top: 5px;
    margin-bottom: 30px;
}

.about-section1 p {
    font-size: 16px;
    font-weight: 700;
}

.about2 {
    margin-left: 10%;
    margin-right: 10%;
}

.about-section2 video {
    width: 100%;
    height: auto;
    max-height: 400px;
    max-width: 700px;
}

.contacts-section1 {
    margin: 50px auto 0;
}

.connection {
    background: rgba(255, 255, 255, 0.6);
    padding: 5% 5% 0 5%;
    min-height: 300px;
    border-radius: 50px;
    margin: 10% 10%;
}

.connection h3 {
    text-align: center;
}

.contacts-section2 {
    margin: 3% 10% 1%;
}

.baths {
    margin: 50px auto 0;
}

.baths-section1 {
    margin: 1% 5%;
}

.bath-description {
    margin-top: 4%;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    max-width: 800px;
}

.fotorama {
    margin-top: 4%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 30px;
}

.bath-description p {
    font-size: 16px;
    font-weight: 700;
    text-align: justify;
    margin-left: 20px;
    margin-right: 10px;
}

.bath-description li {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
    margin-left: 40px;
}

.bath-description h2,h3 {
    text-align: left;
    margin-left: 10px;
}

.fermer {
    margin: 50px auto 0;
}

.fermer-section1 {
    margin: 1% 5%;
}

.fermer-description {
    margin-top: 4%;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    max-width: 800px;
}

.fermer-description p {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.fermer-description h4 {
    font-weight: 700;
}

.fermer-description>ul {
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.fermer-description li {
    list-style-type: none;
}

.fishing {
    margin: 50px auto 0;
}

.fishing-section1 {
    margin: 1% 5%;
}

.fishing-description {
    margin-top: 4%;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    max-width: 800px;
}

.fishing-description p {
    font-size: 16px;
    font-weight: 700;
}

.horsewalking {
    margin: 50px auto 0;
}

.horsewalking-section1 {
    margin: 1% 5%;
}

.horsewalking-description {
    margin-top: 4%;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    max-width: 800px;
}

.horsewalking-description p {
    font-size: 16px;
    font-weight: 700;
}

.zoo {
    margin: 50px auto 0;
}

.zoo-section1 {
    margin: 1% 5%;
}

.zoo-description {
    margin-top: 4%;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    max-width: 800px;
}

.zoo-description p {
    font-size: 16px;
    font-weight: 700;
}

.activity {
    margin: 50px auto 0;
}

.activity-section1 {
    margin: 1% 5%;
}

.activity-description {
    margin-top: 4%;
    padding: 20px 10px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 50px;
    max-width: 800px;
}

.activity-description p {
    font-size: 16px;
    font-weight: 700;
}

.footer {
    flex: 0 0 auto;
    margin-top: 4%;
    height: 0px;
}

.text-muted {
    padding-top: 10px;
    color: whitesmoke;
    font-size: 16px;
}

#footer {
    background: rgba(79, 59, 48, 1);
    width: 100%;
}