{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="about about-section1">
            <div class="about1">
                <h1>О нас</h1>
                <p>Вы можете ознакомиться с нашими услугами более подробнее, посмотрев видео.</p>
                <p>Снять баню в Подмосковье на час или арендовать сауну на сутки  с апартаментами.</p>
                <p>В трёх осиновых парных банного комплекса в Апальшино с открытыми каменками и перидотитом температура парения
                    нагнетается до 120°С. Чем температура выше, тем влажность пара ниже. Когда говорят “с легким паром!” – речь
                    именно о сухом паре. Только сухим паром приятно греться и дышать.</p>
                <p>Почасовая аренда бани:</p>
                <p>В будни и выходные дни круглосуточно – 1500 рублей в час на 4 человек.</p>
                <p>Снять баню на сутки:</p>
                <p>стоимость такой услуги зависит от нескольких факторов, поэтому цена обсуждается индивидуально, звоните.</p>
            </div>
        </div>
        <div class="about about-section2">
            <div class="about2">
                <video controls autoplay>
                    <source src="{% static "media/video/Video.mp4" %}" type="video/mp4">
                </video>
            </div>
        </div>
{% endblock content %}