{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="about about-section1">
            <div class="about1">
                <h1>О нас</h1>
                <p>На территории имеется 3 рубленных бани с каменной и чугунной печками. Просторные парилки, в помещениях
                    для отдыха имеются холодильники и телевизоры. На территории можно приобрести банные принадлежности
                    (веники, запарки).</p>
                <p>Также на территории есть отапливаемая беседка у озера. Сдаются домики с отдельными террасами, по 3
                    комнаты (с отдельными санузлами).</p>
                <p>Есть своё хозяйство, которое состоит из: баранов, птиц (утки, гуси, индоутки). У нас можно
                    приобрести мясную продукцию собственного копчения, полуфабрикаты (домашнего производства).
                    Есть своя пчелиная ферма.</p>
                <p>Осуществляем конные прогулки, обучение верховой езде (для детей).</p>
            </div>
        </div>
        <div class="about about-section2">
            <div class="about2">
                <video controls autoplay>
                    <source src="{% static "media/video/Video.mp4" %}" type="video/mp4">
                </video>
            </div>
        </div>
{% endblock content %}