{% extends 'base.html' %}
{% load static %}

{% block content %}
        <div class="about about-section1">
            <div class="about1">
                <h1>О нас</h1>
                <p>Экоферма Просторы Life – это уютный уголок, создаваемый чтобы подарить нашим гостям приятные воспоминания
                    и хорошее настроение. Потрясающие закаты и чистый воздух одного из самых экологически чистых районов
                    Подмосковья не оставят никого равнодушным. Мы предлагаем вам отдохнуть в одном из наших современных и
                    комфортабельных коттеджей, посетить настоящую русскую баню с каменной печью, попробовать свежего молока
                    и яиц с нашей фермы, познакомиться с обитателями нашего минизоопарка и прокатиться на многократном
                    призере чемпионатов России и Европе – коне Сергее. Также для торжественных мероприятий вы можете
                    арендовать беседку у озера. Ждем вас в гости, мы будем рады встрече с вами.</p>
            </div>
        </div>
        <div class="about about-section2">
            <div class="about2">
                <video controls autoplay>
                    <source src="{% static "media/video/Video.mp4" %}" type="video/mp4">
                </video>
            </div>
        </div>
{% endblock content %}