{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="baths">
            <div class="baths-section1">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="bath-description">
                            <h1>Банный комплекс</h1>
                            <p>Описание и условия</p>
                            <h1>Домики для отдыха</h1>
                            <p>Описание и условия</p>
                            <h1>Беседка у озера</h1>
                            <p>Описание и условия</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true"
                        data-autoplay="true" data-keyboard="true">
                          <img src="{% static "media/baths/bath1.JPG" %}">
                          <img src="{% static "media/baths/bath2.JPG" %}">
                          <img src="{% static "media/baths/bath3.jpeg" %}">
                          <img src="{% static "media/baths/bath4.jpeg" %}">
                          <img src="{% static "media/baths/bath5.jpeg" %}">
                          <img src="{% static "media/baths/bath6.jpeg" %}">
                          <img src="{% static "media/baths/bath7.jpeg" %}">
                          <img src="{% static "media/baths/bath8.jpeg" %}">
                          <img src="{% static "media/baths/bath9.jpeg" %}">
                          <img src="{% static "media/baths/home1.jpeg" %}">
                          <img src="{% static "media/baths/home2.jpeg" %}">
                          <img src="{% static "media/baths/home3.jpeg" %}">
                          <img src="{% static "media/baths/home4.jpeg" %}">
                          <img src="{% static "media/baths/bes1.JPG" %}">
                          <img src="{% static "media/baths/bes2.JPG" %}">
                          <img src="{% static "media/baths/bes3.JPG" %}">
                          <img src="{% static "media/baths/bes4.jpeg" %}">
                          <img src="{% static "media/baths/bes5.jpeg" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}