{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="baths">
            <div class="baths-section1">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="description bath-description">
                            <h1>6-и местный коттедж</h1>
                            <h3>Площадь: 120 кв. м</h3>
                            <h3>Стоимость 16900 руб./сутки</h3>
                            <p>Двухэтажный современный коттедж с отоплением, горячим водоснабжением, оборудованный
                                уютной мангальной зоной для барбекю. Возможно размещение 6 гостей + 2 детей на доп местах.</p>
                            <h3>Количество - 2 коттеджа.</h3>
                            <h3>В коттедже:</h3>
                            <ul>
                                <li>Гостиная с набором мягкой мебели и кухней;</li>
                                <li>LCD TV - 1 шт;</li>
                                <li>Две спальни с двуспальной кроватью и одна с двумя односпальными кроватями;</li>
                                <li>Душ и туалет в каждой комнате;</li>
                                <li>Электрическая плита;</li>
                            </ul>
                            <p>Летняя веранда на первом этаже.</p>
                            <p>*курение внутри коттеджа запрещено.</p>
                            <p>Удобный подъезд на автомобиле, бесплатная парковка, заказ и доставка еды из ресторанов
                                "Рыба есть", "Время есть" по режиму работы ресторана, 5 минут на автомобиле сетевой магазин.</p>
                            <p>Дополнительные услуги: миниферма, катание на лошади, фермерские продукты, коптильня,
                                площадка для волейбола, две русские бани, батут.</p>
                            <h1>Русские бани на дровах</h1>
                            <h2>Баня №1</h2>
                            <p>Баня с чугунной печью и целебными, экологически чистыми камнями (жадеитом). Жадеит
                                обеззараживает воду и насыщает ее метакремниевой кислотой, благотворно влияет на состояние
                                кожного покрова и легких, выравнивает артериальное давление, способствует лечению
                                позвоночника, почек и легких оказывает положительное энергетическое действие на организм.</p>
                            <h2>Баня №2 (заказывается за 5 часов до парения)</h2>
                            <p>Русская баня с каменной печью на дровах. Баня с каменной печью способна обеспечить более
                                равномерный прогрев парилки и отсутствие «холодных зон». Опытные парильщики утверждают,
                                что находится в таком помещении комфортно даже при высокой температуре.</p>
                            <h3>Режим работы:</h3>
                            <p>с 07:00 до 16:00         1500 рублей/час</p>
                            <p>с 16:00 до 07:00         2000 рублей/час</p>
                            <p>Минимальный заказ 3 часа.</p>
                            <h3>В стоимость аренды включено:</h3>
                            <ul>
                                <li>мангал и шампуры</li>
                                <li>решетка для гриля</li>
                                <li>казан</li>
                                <li>3 кг углей и жидкость для розжига</li>
                                <li>стол и одноразовая посуда без ограничений</li>
                            </ul>
                            <h3>Особые условия:</h3>
                            <p>При заказе на 6 часов после 18:00, каждый последующий час 1000 руб.</p>
                            <p>*курение внутри бань запрещено</p>
                            <h3>Условия аренды:</h3>
                            <p>Резерв бани осуществляется только по предоплате.<br>Оплата начисляется с часа бронирования
                                в независимости от прибытия гостей в комплекс.<br>Вы можете продлить своё время пребывания,
                                сообщив об этом администратору за 1 час до окончания оплаченного времени.<br>Для того,
                                чтобы Ваш отдых проходил более комфортно, наша баня принимает не более 8 гостей
                                (хотя ситуации бывают разные и администрация всегда старается идти на встречу гостям,
                                за каждого дополнительного гостя доплата - 500 руб/час).</p>
                            <h3>Каждая баня оборудована:</h3>
                            <ul>
                                <li>Душевой кабиной и туалетом</li>
                                <li>Залом с большим столом</li>
                                <li>Залом с диваном для приятного времяпровождения</li>
                            </ul>
                            <p>Наличие банных веников уточняйте у администратора.<br><br>Удобный подъезд на автомобиле,
                                бесплатная парковка, возможность оставить машину после отдыха до утра, заказ и доставка
                                еды из ресторанов "Рыба есть", "Время есть" по режиму работы ресторана.</p>

                            <h1>Беседка для проведения торжественных мероприятий</h1>
                            <p>Стоимость аренды с 12.00 до 21.00 - 10 000 рублей.<br>В стоимость включено: большой стол,
                                стулья на 16 персон, инвентарь.</p>
                            <h3>Список инвентаря:</h3>
                            <ul>
                                <li>мангал и шампуры</li>
                                <li>решётка для гриля</li>
                                <li>казан</li>
                                <li>3 кг углей и жидкость для розжига</li>
                                <li>разделочный стол и одноразовая посуда без ограничений</li>
                                <li>биотуалет</li>
                            </ul>
                            <p>За дополнительную плату 1000 рублей вы можете арендовать беспроводное караоке.<br>
                                *курение внутри беседки запрещено.<br><br>Удобный подъезд на автомобиле, бесплатная парковка,
                                возможность оставить машину после отдыха до утра, заказ и доставка еды из ресторанов
                                "Рыба есть", "Время есть" по режиму работы ресторана, 5 минут на автомобиле сетевой магазин.</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true"
                        data-autoplay="true" data-keyboard="true">
                          <img src="{% static "media/baths/bath1.JPG" %}">
                          <img src="{% static "media/baths/bath2.JPG" %}">
                          <img src="{% static "media/baths/bath3.JPG" %}">
                          <img src="{% static "media/baths/bath4.JPG" %}">
                          <img src="{% static "media/baths/bath5.JPG" %}">
                          <img src="{% static "media/baths/bath6.jpg" %}">
                          <img src="{% static "media/baths/bath7.jpg" %}">
                          <img src="{% static "media/baths/bath8.jpg" %}">
                          <img src="{% static "media/baths/bath9.jpg" %}">
                          <img src="{% static "media/baths/bath10.jpg" %}">
                          <img src="{% static "media/baths/bath11.jpg" %}">
                          <img src="{% static "media/baths/bath12.jpg" %}">
                          <img src="{% static "media/baths/bath13.jpg" %}">
                          <img src="{% static "media/baths/bath14.jpg" %}">
                          <img src="{% static "media/baths/bath15.jpg" %}">
                          <img src="{% static "media/baths/bath16.jpg" %}">
                          <img src="{% static "media/baths/bath17.jpg" %}">
                          <img src="{% static "media/baths/bath18.jpg" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}