{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="contacts-section1">
            <div class="row">
                <div class="col-sm-4">
                    <div class="connection">
                        <img src="{% static "media/images/gps.png" %}" width="70" height="100">
                        <h2>ПОСЕТИТЕ НАС</h2>
                        <h3>Московская область, Рузский район, городское поселение Колюбакино д. Апальщино</h3>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="connection">
                        <img src="{% static "media/images/call-icon.jpg" %}" width="100" height="100">
                        <h2>ПОЗВОНИТЕ НАМ</h2>
                        <h3>+7 (977) 935 58 52</h3>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="connection">
                        <img src="{% static "media/images/email.svg" %}" width="100" height="100">
                        <h2>НАПИШИТЕ НАМ</h2>
                        <h4><img src="{% static "media/images/whatsapp-messenger.png" %}" width="40" height="40"> +7 (977) 935 58 52</h4>
                        <h4><a href="https://www.instagram.com/prostory_life/?igshid=53vu8dskyz4f" target="_blank"><img src="{% static "media/images/instagram.png" %}" width="50" height="50"> @prostory_life</a></h4>
                    </div>
                </div>
            </div>
        </div>

        <div class="contacts-section2">
            <iframe src="https://maps.google.com/maps?width=700&amp;height=450&amp;hl=en&amp;q=55.679137%2C%2036.525994+(Prostorylife)&amp;ie=UTF8&amp;t=h&amp;z=14&amp;iwloc=B&amp;output=embed" width="100%25" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
{#            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Acca37ceda243e157b7db952a099957e55c875904688ba750cdcc663b35db0d3c&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>#}
        </div>

{% endblock content %}