{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="fermer">
            <div class="fermer-section1">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="fermer-description">
                            <h1>Фермерская продукция</h1>
                            <p>Рады предложить Вам натуральную домашнюю продукцию с нашего крестьянско-фермерского
                                хозяйства Колистратов Д.А.</p>
                            <p>Молочная продукция от коров и коз: молоко, сыр, творог, сметана, йогурт, масло, айран.</p>
                            <p>Мясная продукция, выращенная с любовью на нашем хозяйстве: свежее мясо птицы (кур,
                                гусей, уток), свежая баранина, свинина и говядина, копченые деликатесы приготовленные
                                в коптильне по старинной рецептуре, передаваемой от отцов к детям (грудинка свиная
                                копченая горячего и холодного копчения, окорок горячего копчения на кости и без кости,
                                корейка горячего, холодного копчения, вяленая, балык горячего и холодного копчения,
                                колбаса говяжья, свиная и домашняя кровянка, буженина, пасторма, карпачо утиное и
                                куриное, ребрышки бараньи и свиные, сало соленое с чесноком и соленое с зеленью,
                                смалец, полуфабрикаты - мясные купаты, котлеты, ленивые голубцы, пельмени, вареники,
                                мясо под маринадом для шашлыка).</p>
                            <p>Рыбная продукция: терпуг горячего копчения, другая рыба (сельдь, скумбрия, стерлядь,
                                форель, палтус, зубатка и другие ) по желанию и под заказ.</p>
                            <p>Копченая сырная продукция: сыр Чечил или косичка, сыр домашний коровий и козий.</p>
                            <p>Особые сырокопченые деликатесы: деликатесы для гурманов преимущественно из диких
                                животных под заказ</p>
                            <p>Другая натуральная продукция: яйцо куриное и утиное, тушенка утиная, масло
                                подсолнечное - натуральное семочка, домашнее консервирование</p>
                            <p>Продукты пчеловодства: натуральный мед со своей пасеки, перга, пыльца, воск, медовые квасы.</p>
                            <p>Ждем Вас к нам, всю нашу продукцию можно отведать и приобрести, также возможна доставка.</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true"
                        data-autoplay="true" data-keyboard="true" data-width="100%" data-ratio="4/3">
                          <img src="{% static "media/fermer/fermer1.jpeg" %}">
                          <img src="{% static "media/fermer/fermer2.jpeg" %}">
                          <img src="{% static "media/fermer/fermer3.jpeg" %}">
                          <img src="{% static "media/fermer/fermer4.jpeg" %}">
                          <img src="{% static "media/fermer/fermer5.jpeg" %}">
                          <img src="{% static "media/fermer/fermer6.jpeg" %}">
                          <img src="{% static "media/fermer/fermer7.jpeg" %}">
                          <img src="{% static "media/fermer/fermer8.jpeg" %}">
                          <img src="{% static "media/fermer/fermer9.jpeg" %}">
                          <img src="{% static "media/fermer/fermer10.jpeg" %}">
                          <img src="{% static "media/fermer/fermer11.jpeg" %}">
                          <img src="{% static "media/fermer/fermer12.jpeg" %}">
                          <img src="{% static "media/fermer/fermer13.jpeg" %}">
                          <img src="{% static "media/fermer/fermer14.jpeg" %}">
                          <img src="{% static "media/fermer/fermer15.jpeg" %}">
                          <img src="{% static "media/fermer/fermer16.jpeg" %}">
                          <img src="{% static "media/fermer/fermer17.jpeg" %}">
                          <img src="{% static "media/fermer/fermer18.jpeg" %}">
                          <img src="{% static "media/fermer/fermer19.JPG" %}">
                          <img src="{% static "media/fermer/fermer20.JPG" %}">
                          <img src="{% static "media/fermer/fermer21.JPG" %}">
                          <img src="{% static "media/fermer/fermer22.JPG" %}">
                          <img src="{% static "media/fermer/fermer23.JPG" %}">
                          <img src="{% static "media/fermer/fermer24.JPG" %}">
                          <img src="{% static "media/fermer/fermer25.JPG" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}