{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="horsewalking">
            <div class="horsewalking-section1">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="description horsewalking-description">
                            <h1>Конные прогулки</h1>
                            <p>Это идеальный досуг для тех, кого привлекает отдых на свежем
                                воздухе и общение с самыми грандиозными животными –
                                лошадьми. Наш опытный и профессиональный инструктор Наталья
                                поможет Вам чувствовать себя комфортно и уверенно в седле, даже
                                если вы ни разу не ездили верхом. Уже после первой прогулки на
                                нашем дружелюбном коне Сергеи, неоднократном чемпионе
                                России и Европы, вы получите огромный заряд бодрости и
                                хорошего настроения. Конь будет рад общению с Вами и Вашими детьми!</p>
                            <p>Тренировка 1 час - 1000₽</p>
                            <p>Тренировка/катание 30 минут - 500₽</p>
                            <p>Катание 15 минут - 200₽</p>
                            <p>Абонемент (5 занятий) - 4000₽</p>
                            <p>Абонемент (10 занятий) - 8000₽</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true"
                        data-autoplay="true" data-keyboard="true">
                          <img src="{% static "media/horsewalking/IMG_4344.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4345.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4350.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4352.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4355.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4358.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4364.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4365.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4367.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4368.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_4369.JPG" %}">
                          <img src="{% static "media/horsewalking/IMG_20200531_131146.jpg" %}">
                          <img src="{% static "media/horsewalking/IMG_20200531_131213.jpg" %}">
                          <img src="{% static "media/horsewalking/WhatsApp Image 2020-06-10 at 15.39.09.jpeg" %}">
                          <img src="{% static "media/horsewalking/WhatsApp Image 2020-06-10 at 15.39.09 (1).jpeg" %}">
                          <img src="{% static "media/horsewalking/WhatsApp Image 2020-06-10 at 15.39.10.jpeg" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}