{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="main">
            <div class="main-section">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/baths">
                                <img src="{% static "media/images/banya.png" %}" class="responsive">
                                <h3>Банный комплекс, домики для отдыха и беседка у озера</h3>
                                <p>Краткое описание секции</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/fermer">
                                <img src="{% static "media/images/fermer.png" %}" class="responsive">
                                <h2>Фермерская продукция</h2>
                                <p>Фермерская продукция, вкусная молочная продукция от коров и козочек, свежее мясо
                                    барашка, курочки, гуся, уточки. Копчёные деликатесы, балыки, сало, колбаски, рыбка,
                                    яички. Мёд превосходного качества, медовуха и продукты пчеловодства.</p>
                            </a>
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/activity">
                                <img src="{% static "media/images/activity.png" %}" class="responsive">
                                <h3>Мероприятия, ярмарки мастеров</h3>
                                <p>Мероприятия и ярмарки проводим по вашим заявкам. 89032387062</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-section">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/fishing">
                                <img src="{% static "media/images/fishing.png" %}" class="responsive">
                                <h3>Рыбалка</h3>
                                <p>Приглашаем вас в гости и желаем Вам удачного улова! Наше озеро порадует вас карасями,
                                    карпом, окунем, толстолобиком и белым амуром. А также является отличным местом не
                                    только для рыбалки, но и для отдыха с семьей.</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/horsewalking">
                                <img src="{% static "media/images/horsewalking.png" %}" class="responsive">
                                <h3>Конные прогулки</h3>
                                <p>Конные прогулки проводит профессионал. Конь Сергей, неоднократный чемпион России и
                                    Европы, будет рад общению с вашими детьми. Дети в восторге от нашего коника!</p>
                            </a>
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/zoo">
                                <img src="{% static "media/images/zoo.png" %}" class="responsive">
                                <h3>Контактный зоопарк</h3>
                                <p>Проводим экскурсии к нашим подопечным: козочкам, гусикам, барашкамовечкам, пчёлкам,
                                    коровкам. Можно фотографироваться с питомцами, они рады Вашему вниманию и ждут Вас
                                    и Ваших детей.</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}