{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="main">
            <div class="main-section">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/baths">
                                <img src="{% static "media/images/banya.png" %}" class="responsive">
                                <h3>Банный комплекс, домики для отдыха и беседка</h3>
                                <p>Краткое описание секции</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/fermer">
                                <img src="{% static "media/images/fermer.png" %}" class="responsive">
                                <h3>Фермерская продукция</h3>
                                <p>Кроаткое описание секции: коптильня, пасека и т.д.</p>
                            </a>
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/activity">
                                <img src="{% static "media/images/activity.png" %}" class="responsive">
                                <h3>Мероприятия, ярмарки мастеров</h3>
                                <p>Краткое описание секции</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="main-section">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/fishing">
                                <img src="{% static "media/images/fishing.png" %}" class="responsive">
                                <h3>Рыбалка</h3>
                                <p>Краткое описание секции</p>
                            </a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/horsewalking">
                                <img src="{% static "media/images/horsewalking.png" %}" class="responsive">
                                <h3>Конные прогулки</h3>
                                <p>Кроаткое описание секции: коптильня, пасека и т.д.</p>
                            </a>
                    </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="anons">
                            <a href="/zoo">
                                <img src="{% static "media/images/zoo.png" %}" class="responsive">
                                <h3>Контактный зоопарк</h3>
                                <p>Краткое описание секции</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}