{% extends 'base.html' %}
{% load static %}

{% block content %}

        <div class="zoo">
            <div class="zoo-section1">
                <div class="row">

                    <div class="col-sm-6">
                        <div class="description zoo-description">
                            <h1>Контактный зоопарк</h1>
                            <p>Вас ждет невероятное общение с более пятнадцатью разных
                                животных, а также Вы окунетесь в тайный мир птиц, животных и
                                пчел. У нас можно увидеть и потрогать цыплят, кур разных пород,
                                уток, гусей холмогорской и арзамасской породы, козлят и коз
                                пород камерунской и мегрельской, овец и баранов романовской
                                породы, коня Сергея терской породы, свинью Дуню породы
                                крупная белая и поросят породы Темворс, корову Зорьку и быков
                                волынской породы, пчел породы среднерусские.</p>
                            <p>Во время экскурсии у вас будет возможность покормить животных, узнать много интересного,
                                сфотографироваться и душевно провести время.</p>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="fotorama" data-allowfullscreen="true" data-nav="thumbs" data-loop="true"
                        data-autoplay="true" data-keyboard="true" data-width="100%" data-ratio="4/3">
                            <img src="{% static "media/zoo/IMG_4229.JPG" %}">
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}